<div class="container-fluid">
  <app-header [user]="user" (openLeftMenu)="onNotify($event)"></app-header>


  <div [ngSwitch]="globals['USER_LOGGED']" class="row home-page">
    <div class="col-lg-2 col-md-2 left-menu " [ngClass]="{'hidden' : !leftMenu, 'showed' : leftMenu}">
      <app-left-menu [leftMenu]="leftMenu"></app-left-menu>
    </div>
    <div id="main" class="col-lg-8 col-md-4 col-sm-4 col-xs-4">
         <!--//[ngClass]="{'offset-md-2 offset-lg-2 offset-sm-3 ' : !leftMenu}">-->
      <div *ngSwitchCase="true">
        <app-data-table></app-data-table>
      </div>
      <div *ngSwitchDefault>
        <app-login></app-login>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
