@import '../../../variables.scss';

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  background-color: $background;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.home-page {
  min-height: 400px;
}

#main {
  margin-top: 30px;
}

.hidden {

  // opacity: 0;
  transition: 0.4s;
  height: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.showed {
  // opacity: 1;
  height: 200px;
  transition: 0.4s;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
