<div class="header row">

  <div class="col-lg-5 col-md-6 col-sm-8 col-xs-8 col-9 head">
    <div class="menu-logo" (click)="!openLeftMenu ? openMenuLeft() : closeMenuLeft();"
         [ngClass]="{'menu-logo-actived' : openLeftMenu}">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="title">
      De Luca
    </div>
  </div>
  <div class="col-lg-1 offset-lg-6 panel col-md-2 offset-md-4 col-sm-4 col-xs-4 col-3 logout">

    <div class="menu-logo-right" (click)="!openRightMenu ? openMenuRight() : closeMenuRight();"
         [ngClass]="{'menu-logo-actived' : openRightMenu}">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
    <!--<i class="fa fa-arrow-circle-right zucca" aria-hidden="true"></i>-->
  </div>


  <div class="left-menu" [ngClass]="{'hidden' : !openLeftMenu, 'showed' : openLeftMenu}" (mouseleave)="closeMenuLeft()">
    <div [ngClass]="{'menu-items' : openLeftMenu, 'menu-items-hidden' : !openLeftMenu}">
      Home
    </div>
    <div [ngClass]="{'menu-items' : openLeftMenu, 'menu-items-hidden' : !openLeftMenu}">
      F.A.Q
    </div>
    <div [ngClass]="{'menu-items' : openLeftMenu, 'menu-items-hidden' : !openLeftMenu}">
      Contacts
    </div>
  </div>

  <div class="right-menu" [ngClass]="{'hidden-r' : !openRightMenu, 'showed' : openRightMenu}"
       (mouseleave)="closeMenuRight()">
    <div [ngClass]="{'menu-items' : openRightMenu, 'menu-items-hidden' : !openRightMenu}"
         *ngIf="globals['USER_LOGGED']">
      Benvenuto, {{ globals['USER'] }}
    </div>
    <div [ngClass]="{'menu-items' : openRightMenu, 'menu-items-hidden' : !openRightMenu}"
         *ngIf="globals['USER_LOGGED']">
      <a class="text-to-hide" (click)="logout()">Logout</a>
    </div>
    <div [ngClass]="{'menu-items' : openRightMenu, 'menu-items-hidden' : !openRightMenu}"
         *ngIf="!globals['USER_LOGGED']">
      <a class="text-to-hide" (click)="login()">Login</a>
    </div>
  </div>


</div>

