@import '../../../variables.scss';

.head {
  overflow: hidden;
}

.header {
  font-size: 25px;
  background-color: black;
  height: 70px;
  width: 100%;
  color: $text !important;
}

.menu-logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 10px;
  height: 100%;
  transition: 0.3s;

}

.title, .logout {
  margin-top: 10px;
}

.menu-logo:hover {
  background-color: $link-hover;
  color: black;
  transition: 0.3s;
}


  .row {
    margin-left: 0 !important;
  margin-right: 0 !important;
  }


.panel {
  text-align: right;
   padding-right: 30px;
}

a {
  cursor: pointer;
  color: $link !important;
}

a:hover {
  color: $link-hover !important;
}

.fa {
  margin-right: 10px;
}
