@import '../../../variables.scss';


.row {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.column {
  margin-right: 10px;
}

.bordered {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  background-color: $link !important;
}

.total {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  background-color: $link;
}

.container-fluid {
  min-height: 400px;
}

h1 {
  font-size: 24px;
}

.bottom {
  position: absolute;
  bottom: 120px;
  right: 20px;
  background-color: $background;
}

.btn-dark {
  color: $link-hover !important;;
  background-color: black;
  border-color: #343a40;
}
