@import '../../../variables.scss';


.row {
  margin-top: 30px;
  // margin-left: 100px;
  // margin-right: 100px;
}

.column {
  margin-right: 10px;
}

.bordered {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  padding: 5px;
  border-color: #1c1c1c;
  background-color: $link-hover !important;
}

.bottom {
  position: absolute;
  bottom: 120px;
  right: 20px;
  background-color: $background;
}

.btn-dark {
  color: $link-hover !important;
  background-color: black;
  border-color: #343a40;
}

.profile {
  color: $text !important;;
}

.info {
  margin-top: 30px;
}
